
services:
  resolver:
    build:
      context: .
      dockerfile: Dockerfile.resolver
    expose:
      - "5053/tcp"
      - "5053/udp"
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      RESOLVER_HOST: "resolver"
      RESOLVER_PORT: "5053"
      PORT: "8080"
    ports:
      - "8080:8080"
    depends_on:
      - resolver
    restart: unless-stopped
