# fly.toml app configuration file generated for dns-checking-tool on 2026-02-10T21:41:15Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dns-checking-tool'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
